.ModifyWindow {
    overflow: auto;
}

.ModifyWindow::-webkit-scrollbar {
    display: none;
}

.AddIcon a{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1976d2;
}


.AddIcon a:hover{
    text-decoration: underline;
}

.DescriptionPosition {
    display: flex;
    align-items: center;
    height: 40px;
}

.Avatar{
  color: black;
}

.Avatar:hover{
    background-color: rgba(63, 63, 63, 0.18);
    border-radius: 15px;
    box-shadow: 1px 1px 20px rgba(63, 63, 63, 0.49);
    text-decoration: underline black;
}