.ModifyWindow {
    overflow: auto;
}

.ModifyWindow::-webkit-scrollbar {
    display: none;
}

.AddIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1976d2;
}

.AddIcon:hover{
    text-decoration: underline;
}

.DescriptionPosition {
    display: flex;
    align-items: center;
    height: 40px;
}