.searchContainer{
    background-color: whitesmoke;
    position: absolute;
    width: 300px;
    height: 96.4vh;
    border-radius: 10px;
    left: 65px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.33);
    top: -50px;
    overflow: auto;
    border-right: rgba(0, 0, 0, 0.12);
}

.searchContainer::-webkit-scrollbar{
    width: 12px;
    height: 50%;
}
.searchContainer::-webkit-scrollbar-track {
    background: whitesmoke;        /* color of the tracking area */
}

.searchContainer::-webkit-scrollbar-thumb {
    background-color: #CED0D4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #c9c9c9;  /* creates padding around scroll thumb */
}

.search{
    margin-top: 54px;
}

.responseContainer{
}
.usersResponse{
    display: flex;
    width: 94%;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

.usersResponse:hover{
    background-color: rgba(224, 224, 224, 0.88);
    border-radius: 7px;
}


.searchBlockContainer{
    position: sticky;
    top: 0;
    height: 180px;
    z-index: 1;
    background-color: whitesmoke;
}


