.Users {
  display: flex;
    justify-content: center;
}

.UsersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.User {
    padding: 10px;
    margin: 6px;
    min-width: 250px;
    min-height: 250px;
}

