.MyProfile{
    position: relative;
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyProfileContainer{
    margin: 10px 20px 0 20px;
    width: 75vw;
}

.ContainerHeader{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}

.BigImg{
    width: 77vw;
    height: 40vh;
    background-color: #e5e5e5;
    background-image: linear-gradient(#e5e5e5 200px, rgba(0, 0, 0, 0.57));
    border-radius: 15px;
}

.Avatar{
    border: 4px solid white;
    bottom: 120px;
    width: 168px;
    height: 168px;
}

.FriendsContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 20px;
    min-height: 100%;
}


.ContainerDescription{
    display: flex;
    margin-bottom: 30px;
    min-height: 40vh;
    flex-wrap: nowrap;
    width: 100%;
}

.User {
    min-width: 33.33%;
    height: 100%;
}

.User:hover{
    background-color: rgba(218, 218, 218, 0.38);

}


/*@media (max-width: 1619px) {
    .ContainerDescription{
        flex-wrap: wrap;
    }
    .FriendsContainer {
        margin: 20px 0 0 0;
    }
    .BigImg{
        max-width: 89%;
    }
}*/


