.headerContainer {
    margin-bottom: 6px;
    background-color: #c4c4c4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}


.header img {
    width: 30px;
    margin-left: 30px;
}

.Login {
    float: right;
    color: #ff0000;
    margin-right: 60px;
}

.Navigate{
    display: flex;
}