.Friends {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.AllFriendsContainer {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 6;
    grid-row: 1 / 4;
}

.FriendContainer {
    width: 30%;
    height: 350px;
    margin: 10px;
    position: relative;
}

.FriendContainer:hover{
    box-shadow: 3px 3px 90px rgba(0, 0, 0, 0.32);

}

.ImageContainer {
    width: 100%;
    height: 35%;
    background-color: #e5e5e5;
}

.Avatar {
    bottom: 45px;
    margin: 0 auto;
    border: 3.8px solid white;
}
.Avatar:hover{
    cursor: pointer;
}

.Name {
    position: relative;
    bottom: 35px;
    text-align: center;
}

