.dialogs{
    display: grid;
    grid-template-columns: 2fr  10fr;
    text-decoration:none;
}

.dialogsItem{
   padding: 10px;
   color: white;
}
.messages{
    padding: 10px;
}

.dialogsItem .active{

    color: gold;
}


.messages .message{
 color: white;
}

.link{
  color: rgb(105, 240, 93);
  text-decoration:none;
}