.dialogs{
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr  10fr;
    text-decoration:none;
}

.dialogsItem{
   padding: 20px;
   color: white;
}


.dialogsItem .active{

    color: gold;
}


.messages .message{
 color: white;
}

.link{
  color: rgb(105, 240, 93);
  text-decoration:none;
}