.LoginContainer {
    width: 28%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 9%;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.TextField {
 width: 70%;
}

.Button {
    width: 40%;
    height: 11%;
}
